<!DOCTYPE html>
<head>
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
      <h1>
        Hello World
        <img src="/img/earth.png" alt="earth" width="60px">
      </h1>
  </div>
</body>